.third-page-container{
    display: flex;
    flex-direction: column;
    place-content: center;
}
.newspagephoto{
    width: 32vw;
    height: 18vw;
    border-radius: 1vw;
    margin-left: 2vw;
}

.newspageheader{
    color: #005e94;
    font-family: 'FiraGo-Bold';
    font-size: 1.5vw;
}

.newspagedate{
    color: #007bc2;
    font-family: 'FiraGo-Bold';
}

.newspageparagraph{
    color: #0082CD;
    font-family: 'FiraGo-Light';
    text-align: justify;
    font-size: 14px;
}